<body>
<div class="row">
    <div class="col-12">
        <h1>Waiters available</h1>

         {{#each availableList.list}}
            <ul>
                </li>
                <li><a href="/waiter/{{this.waiters_available}}">  {{this.waiters_available}} </a></li>

            </ul>
            {{/each}}

            <hr>
    </div>
</div>






</body>