<body>
<div class="row">
    <div class="col-12">
        <h1>Waiters available</h1>

         {{#each listed}}
            <ul>
                </li>
                <li><a href="/waiter/{{this.name.rows}}">  {{this.name.rows}} </a></li>

            </ul>
            {{/each}}

            <hr>
    </div>
</div>






</body>