<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">

 <div class="row">
            <div class="">
                <h1>Waiter Availability</h1>
            </div>
        </div>

<form action="/reg-num" method="POST">
        <div class="row">
                <div class="col-6">
                    <input type="text" name="waiters" value="" placeholder="enter name" class="enterWaiterName">
                </div>


                <div class="col-6">
                    <button class="addBtn" type="submit" value="button">ADD</button>

                </div>
            </div>
</form>
             <div class="row">
                <div class="col-12">
                    <div class="select">
                        <strong>Select a Day</strong>
                        <input type="radio" name="day" class="radioBtn" value=""> Monday
                        <input type="radio" name="day" class="radioBtn" value=""> Tuesday
                        <input type="radio" name="day" class="radioBtn" value=""> Wednesday
                        <input type="radio" name="day" class="radioBtn" value=""> Thursday 
                        <input type="radio" name="day" class="radioBtn" value=""> Friday 
                        <input type="radio" name="day" class="radioBtn" value=""> Saturday
                        <input type="radio" name="day" class="radioBtn" value=""> Sunday

                    </div>
                </div>
            </div>


            <div class="col-12">
                <button class="showBtn" type="submit">ADD</button>

            </div>
    </div>
</body>
</html>