<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="row">
        <div class="heading">
            <h1>The Cuppa Cafe</h1>
        </div>
    </div>

    <hr>


    <br>

    {{!-- <a href="/days">
        <div class="admin">
            <button class="awaiterAddBtn" type="submit" value="button"></button>
        </div>
    </a> --}}


    <div class="row">
        <div class="col-12">
            {{#if messages.error}}
            <span class="flashMsg">{{messages.error}}</span>
            {{/if}}
        </div>
    </div>

    <div class="container">

        <p>Please enter your name in the URL and select working days. 
            For example https://sibo-waiter-availability.herokuapp.com/waiter/name </p>

      </div>  
</body>

</html>