body {
    background-color: rgb(22, 28, 41);
    padding-top: 0em;
}
.heading h1{
    color: white;
    font-family: cursive;
    margin: 1em;

}

span{
  color: white;
}
.container {
    text-align: center;
    align-self: center;
    font-size: larger;
    background-color: rgba(299, 299, 299, 0.1);
    padding: 2em;
    color: white;
    font-family: cursive;
    /* margin: 2em; */
    /* float: right; */
    
}

.container p{
color: lime;
font-size: x-large;
font-weight: bold;
font-family: cursive;
}

.flashMsg {
  color: lime;
  background-color: rgba(299, 299, 299, 0.1);
  padding: 1em;
  align-self: center;
  font-size: larger;
  font-weight: bold;
  font-family: cursive;
}
.select {
  color: white;
  font-family: cursive;

}

.select strong{
  color: white;
  font-size: larger;
  font-family: cursive;

}

input[type='checkbox'] {
  padding: 2em;
  color: white;
}

.check:checked {
  height: 20px;
  width: 20px;
  background-color: chartreuse;
}
.enterWaiterName {
    /* margin-left: 2em; */
    border-radius: 7px;
    padding: 5px;
    width: 30%;
}

.btn {
  background-color: chartreuse;
  font-weight: bolder;
  font-size: larger;
  padding: 0.2em;
  font-family: cursive;

}

table {
    border-collapse: collapse;
  align-items: center;
  }
  
  table, th, td, tr {
    border: 3px solid rgb(116, 158, 158);
    padding: 1em;
    margin: 2em;
    width: 50%;
    color: white;
    font-size: large;
    align-items: center;
  }

  .table li {
    list-style: none;
    color: white;
    align-items: center;
    
  }

      .orange{
        background-color: orange;
      }

      .red{
        background-color: red;
      }

      .green{
        background-color: green;
      }

      